<div class="row text-center">
	<h1 class="span12">ETrack API</h1>
</div>

<div class="row">

	<div class="col-sm-12">
	{{#each data}}
		<h5 class="col-sm-8">{{this.dataValues.name}}</h5>
	{{/each}}			
	</div>

</div>


<link rel="stylesheet" href="/assets/css/admin.css" type="text/css" />
<script src="/assets/js/admin.js"></script>





