<div class="container">
	<h1> ETrack API </h1>
	<div class="list-group">
		<a class="list-group-item" href="/api/employee">/api/employee</a>
		<a class="list-group-item" href="/api/department">/api/department</a>
		<a class="list-group-item" href="/api/training">/api/training</a>
	</div>
</div>	
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

